<div>
    <span [matBadge]="notifications" [matBadgeHidden]="notifications === 0" matBadgeOverlap="false">Notiffications</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="below before" matBadgeOverlap="false">Notiffications</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="below after" matBadgeOverlap="false">Notiffications</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="above before" matBadgeOverlap="false">Notiffications</span>
</div>
<div>
    <span matBadge="5" matBadgeSize="small">Notiffications</span>
</div>
<div>
    <span matBadge="5" matBadgeSize="medium">Notiffications</span>
</div>
<div>
    <span matBadge="5" matBadgeSize="large">Notiffications</span>
</div>
<div>
    <span matBadge="5" matBadgeColor="primary">Notiffications</span>
</div>
<div>
    <span matBadge="5" matBadgeColor="accent">Notiffications</span>
</div>
<div>
    <span matBadge="5" matBadgeColor="warn">Notiffications</span>
</div>