<div>
    <button mat-button>Click me!</button>
    <button mat-raised-button>click me! </button>
    <button mat-flat-button>click me! </button>
    <button mat-stroked-button>click me! </button>
</div>
<div>
    <button mat-icon-button>icon</button>
    <button mat-fab>fab</button>
    <button mat-mini-fab>min-fab</button>
</div>
<div>
    <button color="primary" mat-button>Primary</button>
    <button color="accent" mat-button>Accent</button>
    <button color="warn" disableRipple mat-button>Warn</button>
        <button color="primary" mat-raised-button>Primary</button>
    <button color="accent" mat-rasied-button>Accent</button>
    <button color="warn" mat-raised-button>Warn</button>
</div>